style(type='text/css').
  #calendar li { font-size:1.1em; font-weight:bold; padding:6px; border:none; list-style:none; width:450px; }
  li.header { font-weight: bold; font-size:1.4em; list-style:none; }
  i { display: block; text-align: right; }
body
  - months = ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
  li.header Aufgaben:
  #calendar
    each ev in data
      li=ev.summary
        i='bis zum ' + ev.start.getDate() + '. ' + months[ev.start.getMonth()]
